<%# <form> %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row">
    <div class="col-lg-12 no-pdd">
      <div class="sn-field">
        <%# <input type="text" name="name" placeholder="Full Name"> %>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "Enter your first name" %>
        <i class="la la-user"></i>
      </div>
    </div>
    <div class="col-lg-12 no-pdd">
      <div class="sn-field">
        <%# <input type="text" name="name" placeholder="Full Name"> %>
        <%= f.text_field :last_name, autocomplete: "last_name", placeholder: "Enter your last name" %>
        <i class="la la-user"></i>
      </div>
    </div>
    <div class="col-lg-12 no-pdd">
      <div class="sn-field">
        <%# <input type="text" name="name" placeholder="Full Name"> %>
        <%= f.text_field :email, autocomplete: "email", placeholder: "Enter your email" %>
        <%# <i class="las la-mail-bulk"></i> %>
        <%# <i class="las la-envelope"></i> %>
        <i class="la la-envelope"></i>

      </div>
    </div>
    <div class="col-lg-12 no-pdd">
      <div class="sn-field">
        <%= f.text_field :profession, placeholder: "Enter your profession like backend developer" %>
        <i class="la la-envelope"></i>
      </div>
    </div>
    <div class="col-lg-12 no-pdd">
      <div class="sn-field">
        <%# <input type="text" name="country" placeholder="Country"> %>
        <%= f.country_select :country, priority_countries: ['US', 'CA', 'GB'], prompt: 'Select a country' %>
        <i class="la la-globe"></i>
      </div>
    </div>
    <div class="col-lg-12 no-pdd">
      <div class="sn-field">
        <%# <input type="text" name="country" placeholder="Country"> %>
        <%= f.select :timezone, ActiveSupport::TimeZone.all.map { |tz| [tz.name, tz.name] }, { prompt: 'Select a timezone' } %>
        <%# <i class="la la-globe"></i> %>
        <i class="la la-clock-o"></i>
      </div>
    </div>
    <div class="col-lg-12 no-pdd">
      <div class="sn-field">
        <select>
          <option>Category</option>
          <option>Category 1</option>
          <option>Category 2</option>
          <option>Category 3</option>
          <option>Category 4</option>
        </select>
        <i class="la la-dropbox"></i>
        <span><i class="fa fa-ellipsis-h"></i></span>
      </div>
    </div>
    <div class="col-lg-12 no-pdd">
      <div class="sn-field">
        <input type="password" name="password" placeholder="Password">
        <i class="la la-lock"></i>
      </div>
    </div>
    <div class="col-lg-12 no-pdd">
      <div class="sn-field">
        <input type="password" name="repeat-password" placeholder="Repeat Password">
        <i class="la la-lock"></i>
      </div>
    </div>
    <div class="col-lg-12 no-pdd">
      <div class="checky-sec st2">
        <div class="fgt-sec">
          <input type="checkbox" name="cc" id="c2">
          <label for="c2">
            <span></span>
          </label>
          <small>Yes, I understand and agree to the workwise Terms & Conditions.</small>
        </div><!--fgt-sec end-->
      </div>
    </div>
    <div class="col-lg-12 no-pdd">
      <button type="submit" value="submit">Get Started</button>
    </div>
  </div>
<% end %>
<%# </form> %>
