<section class="cover-sec">
  <img src="<%= profile_picture_banner_url %>" alt="" width='1600' height='450'>
  <div class="add-pic-box">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-12 col-sm-12">					
          <input type="file" id="banner_file" name="profile_picture_banner">
          <label for="banner_file">Change Image</label>				
        </div>
      </div>
    </div>
  </div>
</section>
<main>
  <div class="main-section">
    <div class="container">
      <div class="main-section-data">
        <div class="row">
          <div class="col-lg-3">
            <div class="main-left-sidebar">
              <div class="user_profile">
                <div class="user-pro-img">
                  <img src="<%= profile_picture_url %>" alt="" width='180' height='180'>
                  <div class="add-dp" id="OpenImgUpload">
                    <input type="file" id="profile_file" name="profile_picture">
                    <label for="profile_file"><i class="fas fa-camera"></i></label>												
                  </div>
                </div>
                <!--user-pro-img end-->
                <div class="user_pro_status">
                  <ul class="flw-status">
                    <li>
                      <span>Following</span>
                      <b><%= current_user.followings.count %></b>
                    </li>
                    <li>
                      <span>Followers</span>
                      <b><%= current_user.followers.count %></b>
                    </li>
                  </ul>
                </div>
                <!--user_pro_status end-->
                <ul class="social_links">
                  <li><a href="#" title=""><i class="la la-globe"></i> www.example.com</a></li>
                  <li><a href="#" title=""><i class="fa fa-facebook-square"></i> Http://www.facebook.com/john...</a></li>
                  <li><a href="#" title=""><i class="fa fa-twitter"></i> Http://www.Twitter.com/john...</a></li>
                  <li><a href="#" title=""><i class="fa fa-google-plus-square"></i> Http://www.googleplus.com/john...</a></li>
                  <li><a href="#" title=""><i class="fa fa-behance-square"></i> Http://www.behance.com/john...</a></li>
                  <li><a href="#" title=""><i class="fa fa-pinterest"></i> Http://www.pinterest.com/john...</a></li>
                  <li><a href="#" title=""><i class="fa fa-instagram"></i> Http://www.instagram.com/john...</a></li>
                  <li><a href="#" title=""><i class="fa fa-youtube"></i> Http://www.youtube.com/john...</a></li>
                </ul>
              </div>
              <!--user_profile end-->
              <div class="suggestions full-width">
                <div class="sd-title">
                  <h3>People Viewed Profile</h3>
                  <i class="la la-ellipsis-v"></i>
                </div>
                <!--sd-title end-->
                <div class="suggestions-list">
                  <div class="suggestion-usd">
                    <img src="<%= asset_path('resources/s1.png') %>" alt="">
                    <div class="sgt-text">
                      <h4>Jessica William</h4>
                      <span>Graphic Designer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="<%= asset_path('resources/s2.png') %>" alt="">
                    <div class="sgt-text">
                      <h4>John Doe</h4>
                      <span>PHP Developer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="<%= asset_path('resources/s3.png') %>" alt="">
                    <div class="sgt-text">
                      <h4>Poonam</h4>
                      <span>Wordpress Developer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="<%= asset_path('resources/s4.png') %>" alt="">
                    <div class="sgt-text">
                      <h4>Bill Gates</h4>
                      <span>C & C++ Developer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="<%= asset_path('resources/s5.png') %>" alt="">
                    <div class="sgt-text">
                      <h4>Jessica William</h4>
                      <span>Graphic Designer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="<%= asset_path('resources/s6.png') %>" alt="">
                    <div class="sgt-text">
                      <h4>John Doe</h4>
                      <span>PHP Developer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="view-more">
                    <a href="#" title="">View More</a>
                  </div>
                </div>
                <!--suggestions-list end-->
              </div>
              <!--suggestions end-->
            </div>
            <!--main-left-sidebar end-->
          </div>
          <div class="col-lg-6">
            <div class="main-ws-sec">
              <div class="user-tab-sec rewivew">
                <h3><%= current_user.decorate.full_name %></h3>
                <div class="star-descp">
                  <span><%= current_user.profession.titleize %></span>
                  <ul>
                    <%= current_user.decorate.star_rating %>
                  </ul>
                  <%# <a href="#" title="">Status</a> %>
                </div>
                <!--star-descp end-->
                <div class="tab-feed st2 settingjb">
                  <ul>
                    <!--
                      <li data-tab="feed-dd" class="active">
                        <a href="#" title="">
                        <img src="<%= asset_path('ic1.png') %>" alt="">
                        <span>Feed</span>
                        </a>
                      </li>
                    -->
                    <li data-tab="info-dd" class="active">
                      <a href="#" title="">
                      <img src="<%= asset_path('ic2.png') %>" alt="">
                      <span>Info</span>
                      </a>
                    </li>
                    <li data-tab="saved-jobs">
                      <a href="#" title="">
                      <img src="<%= asset_path('ic4.png') %>" alt="">
                      <span>Jobs</span>
                      </a>
                    </li>
                    <li data-tab="my-bids">
                      <a href="#" title="">
                      <img src="<%= asset_path('ic5.png') %>" alt="">
                      <span>Bids</span>
                      </a>
                    </li>
                    <li data-tab="portfolio-dd">
                      <a href="#" title="">
                      <img src="<%= asset_path('ic3.png') %>" alt="">
                      <span>Portfolio</span>
                      </a>
                    </li>
                    <li data-tab="rewivewdata">
                      <a href="#" title="">
                      <img src="<%= asset_path('review.png') %>" alt="">
                      <span>Reviews</span>
                      </a>
                    </li>
                    <li data-tab="payment-dd">
                      <a href="#" title="">
                      <img src="<%= asset_path('ic6.png') %>" alt="">
                      <span>Payment</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- tab-feed end-->
              </div>
              <!--user-tab-sec end-->
              <div class="product-feed-tab" id="saved-jobs">
                <%= render partial: '/users/my_profile/jobs' %>
              </div>
              <!--
                <div class="product-feed-tab current" id="feed-dd">
                  <%#= render partial: '/users/my_profile/feeds' %>
                </div>
              -->
              <!--product-feed-tab end-->
              <div class="product-feed-tab" id="my-bids">
                <%= render partial: '/users/my_profile/bids' %>
              </div>
              <div class="product-feed-tab current" id="info-dd">
                <%= render partial: '/users/my_profile/info' %>
              </div>
              <div class="product-feed-tab" id="rewivewdata">
                <%= render partial: '/users/my_profile/reviews' %>
              </div>
              <div class="product-feed-tab" id="portfolio-dd">
                <%= render partial: 'users/my_profile/portfolio' %>
              </div>
              <!--product-feed-tab end-->
              <div class="product-feed-tab" id="payment-dd">
                <%= render partial: 'users/my_profile/payment' %>
              </div>
              <!--product-feed-tab end-->
            </div>
            <!--main-ws-sec end-->
          </div>
          <div class="col-lg-3">
            <div class="right-sidebar">
              <div class="message-btn">
                <a href="profile-account-setting.html" title=""><i class="fas fa-cog"></i> Setting</a>
              </div>
              <%= render partial: '/users/my_profile/portfolio_sidebar' %>
              <!--widget-portfolio end-->
            </div>
            <!--right-sidebar end-->
          </div>
        </div>
      </div>
      <!-- main-section-data end-->
    </div>
  </div>
</main>
<script>
  bindChangeEventOnPicturesBtns = function () {
    const profileInput = document.querySelector('input[name="profile_picture"]');
    const bannerInput = document.querySelector('input[name="profile_picture_banner"]');
  
    profileInput.addEventListener('change', function() {
      uploadImage(this.files[0], 'profile_picture');
    });
  
    bannerInput.addEventListener('change', function() {
      uploadImage(this.files[0], 'profile_picture_banner');
    });
  
    function uploadImage(file, type) {
      const formData = new FormData();
      formData.append(type, file);
  
      fetch('/users/update_pictures', {
        method: 'POST',
        headers: {
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        },
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          if (type === 'profile_picture') {
            document.querySelector('.user-pro-img img').src = data.url;
          } else if (type === 'profile_picture_banner') {
            document.querySelector('.cover-sec img').src = data.url;
          }
        } else {
          alert('Failed to upload image');
        }
      })
      .catch(error => console.error('Error:', error));
    } 
  }
  
  $(document).ready(function(){
    bindChangeEventOnPicturesBtns();
  })
</script>
