<div class="search-sec">
  <div class="container">
    <div class="search-box">
      <form class='project-search-form'>
        <input type="text" name="search" placeholder="Search keywords">
        <button type="submit">Search</button>
      </form>
    </div><!--search-box end-->
  </div>
</div><!--search-sec end-->

<main>
  <div class="main-section">
    <div class="container">
      <div class="main-section-data">
        <div class="row">
          <div class="col-lg-3">
            <div class="filter-secs">
              <div class="filter-heading">
                <h3>Filters</h3>
                <a id='clear-all' href="#" title="">Clear all filters</a>
              </div><!--filter-heading end-->
              <div class="paddy">
                <div class="filter-dd">
                  <div class="filter-ttl">
                    <h3>Skills</h3>
                    <a href="#" title="">Clear</a>
                  </div>
                  <select name="skills" style='width:100%' multiple>
                    <% Skill.all.each do |skill| %>
                      <option value=<%=skill.id%>><%= skill.title %></option>
                    <% end %>
                  </select>
                </div>
                <div class="filter-dd">
                  <div class="filter-ttl">
                    <h3>Client Rating</h3>
                    <a href="#" title="">Clear</a>
                  </div>
                  <ul class="avail-checks">
                    <li>
                      <input type="checkbox" name="client_rating[]" value="3" id="c1">
                      <label for="c1">
                        <span></span>
                      </label>
                      <small>3 Rating</small>
                    </li>
                    <li>
                      <input type="checkbox" name="client_rating[]" value="4" id="c2">
                      <label for="c2">
                        <span></span>
                      </label>
                      <small>4 Rating</small>
                    </li>
                    <li>
                      <input type="checkbox" name="client_rating[]" value="5" id="c3">
                      <label for="c3">
                        <span></span>
                      </label>
                      <small>5 Rating</small>
                    </li>
                  </ul>
                </div>
                <div class="filter-dd">
                  <div class="filter-ttl">
                    <h3>Categories</h3>
                    <a href="#" title="">Clear</a>
                  </div>
                  <select name="categories" class="job-tp" style='width:100%' multiple>
                    <% Category.all.each do |category| %>
                      <option value=<%=category.id%>><%= category.title %></option>
                    <% end %>
                  </select>
                </div>
                <div class="filter-dd">
                  <div class="filter-ttl">
                    <h3>Pay Rate / Hr ($)</h3>
                    <a href="#" title="">Clear</a>
                  </div>
                  <div class="rg-slider">
                    <input class="rn-slider slider-input" type="hidden" name="pay_rate_hourly" value="5,50" />
                  </div>
                  <div class="rg-limit">
                    <h4>1</h4>
                    <h4>100+</h4>
                  </div><!--rg-limit end-->
                </div>
                <div class="filter-dd">
                  <div class="filter-ttl">
                    <h3>Countries</h3>
                    <a href="#" title="">Clear</a>
                  </div>
                  <select name="countries" style='width:100%' multiple>
                    <% User.pluck(:country).each do |country| %>
                      <option value="<%= country %>"><%= country %></option>
                    <% end %>
                  </select>
                </div>
              </div>
            </div><!--filter-secs end-->
          </div>
          <div class="project-container col-lg-6">
            <div class="main-ws-sec">
              <div class="posts-section">
                <%= render partial: 'projects/project_list' %>
                <div class="process-comm">
                  <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                </div><!--process-comm end-->
              </div><!--posts-section end-->
            </div><!--main-ws-sec end-->
          </div>
          <div class="col-lg-3">
            <div class="right-sidebar">
              <div class="widget widget-about">
                <%= image_tag asset_path('wd-logo.png') %>
                <h3>Track Time on Workwise</h3>
                <span>Pay only for the Hours worked</span>
                <div class="sign_link">
                  <h3><a href="sign-in.html" title="">Sign up</a></h3>
                  <a href="#" title="">Learn More</a>
                </div>
              </div><!--widget-about end-->
              <div class="widget widget-jobs">
                <div class="sd-title">
                  <h3>Top Jobs</h3>
                  <i class="la la-ellipsis-v"></i>
                </div>
                <div class="jobs-list">
                  <div class="job-info">
                    <div class="job-details">
                      <h3>Senior Product Designer</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </div>
                    <div class="hr-rate">
                      <span>$25/hr</span>
                    </div>
                  </div><!--job-info end-->
                  <div class="job-info">
                    <div class="job-details">
                      <h3>Senior UI / UX Designer</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </div>
                    <div class="hr-rate">
                      <span>$25/hr</span>
                    </div>
                  </div><!--job-info end-->
                  <div class="job-info">
                    <div class="job-details">
                      <h3>Junior Seo Designer</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </div>
                    <div class="hr-rate">
                      <span>$25/hr</span>
                    </div>
                  </div><!--job-info end-->
                  <div class="job-info">
                    <div class="job-details">
                      <h3>Senior PHP Designer</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </div>
                    <div class="hr-rate">
                      <span>$25/hr</span>
                    </div>
                  </div><!--job-info end-->
                  <div class="job-info">
                    <div class="job-details">
                      <h3>Senior Developer Designer</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </div>
                    <div class="hr-rate">
                      <span>$25/hr</span>
                    </div>
                  </div><!--job-info end-->
                </div><!--jobs-list end-->
              </div><!--widget-jobs end-->
              <div class="widget widget-jobs">
                <div class="sd-title">
                  <h3>Most Viewed This Week</h3>
                  <i class="la la-ellipsis-v"></i>
                </div>
                <div class="jobs-list">
                  <div class="job-info">
                    <div class="job-details">
                      <h3>Senior Product Designer</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </div>
                    <div class="hr-rate">
                      <span>$25/hr</span>
                    </div>
                  </div><!--job-info end-->
                  <div class="job-info">
                    <div class="job-details">
                      <h3>Senior UI / UX Designer</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </div>
                    <div class="hr-rate">
                      <span>$25/hr</span>
                    </div>
                  </div><!--job-info end-->
                  <div class="job-info">
                    <div class="job-details">
                      <h3>Junior Seo Designer</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </div>
                    <div class="hr-rate">
                      <span>$25/hr</span>
                    </div>
                  </div><!--job-info end-->
                </div><!--jobs-list end-->
              </div><!--widget-jobs end-->
            </div><!--right-sidebar end-->
          </div>
        </div>
      </div><!-- main-section-data end-->
    </div> 
  </div>
</main>


<script>
function clearFilter(filterSection) {
    const input = filterSection.querySelector('.project-search-form input[type="text"]');
    if (input) {
        input.value = '';
    }

    const radios = filterSection.querySelectorAll('input[type="radio"], input[type="checkbox"]');
    radios.forEach(radio => {
        radio.checked = false;
    });

    const select = filterSection.querySelector('select');
    if (select) {
        select.selectedIndex = -1;
    }

    const slider = filterSection.querySelector('.slider-input');
    if (slider) {
        resetSlider();
    }
    hitApi(); // Trigger API call after clearing filters
}

function bindEventsOnFilter() {
    document.querySelectorAll('.filter-dd .filter-ttl a').forEach(clearBtn => {
        clearBtn.addEventListener('click', (event) => {
            event.preventDefault();
            const filterSection = clearBtn.closest('.filter-dd');
            clearFilter(filterSection);
        });
    });

    // Clear all filters
    const clearAllBtn = document.getElementById('clear-all');
    if (clearAllBtn) {
        clearAllBtn.addEventListener('click', (event) => {
            event.preventDefault();
            document.querySelectorAll('.filter-dd').forEach(filterSection => {
                clearFilter(filterSection);
            });
        });
    }

    // Bind change events to filter inputs to trigger API call
    document.querySelectorAll('.filter-dd input, .filter-dd select').forEach(input => {
        input.addEventListener('change', () => {
            hitApi();
        });
    });
}

function initializeSlider() {
    $('.rn-slider').jRange({
        from: 0,
        to: 100,
        step: 1,
        scale: [],
        format: '%s',
        width: 300,
        showLabels: true,
        isRange: true
    });

    // Bind mouseup event to the slider for API call
    $(document).on('mouseup', '.slider-container, .jRange', () => {
        hitApi();
    });
}

function resetSlider() {
    // Remove the existing slider input
    $('.rn-slider').remove();
    $('.slider-container').remove();

    // Recreate the slider input element
    $('<input class="rn-slider slider-input" type="hidden" value="5,50" />').appendTo('.rg-slider');

    // Reinitialize the slider
    initializeSlider();
}

function gatherFilters() {
    const filters = {};

    // Collect text inputs
    document.querySelectorAll('.filter-dd input[type="text"]').forEach(input => {
        if (input.value) {
            filters[input.name] = input.value;
        }
    });

    // Collect radio and checkbox inputs
    document.querySelectorAll('.filter-dd input[type="radio"]:checked, .filter-dd input[type="checkbox"]:checked').forEach(input => {
        if (!filters[input.name]) {
            filters[input.name] = [];
        }
        filters[input.name].push(input.value);
    });

    // Collect select inputs
    document.querySelectorAll('.filter-dd select').forEach(select => {
        if (select.value) {
            filters[select.name] = select.value;
        }
    });

    // Collect slider inputs
    document.querySelectorAll('.slider-input').forEach(slider => {
        if (slider.value) {
            filters[slider.name] = slider.value;
        }
    });

    return filters;
}

function hitApi() {
    const searchQuery = $('.project-search-form input[name="search"]').val(); // Get the value from search input
    const filters = gatherFilters(); // Assume gatherFilters() gathers filter values correctly

    $.ajax({
        url: '/projects', // URL to send the request
        type: 'GET', // HTTP method (GET in this case)
        dataType: 'script',
        data: {
            q: searchQuery, // Search query parameter
            filters: JSON.stringify(filters) // Filters object serialized to JSON
        },
        success: function(response) {
            // Handle successful response
            $('#project-list').html(response); // Update the content of project-list div with response
        },
        error: function(error) {
            // Handle errors
            console.error('Error fetching projects:', error);
            // You can add error handling code here if needed
        }
    });
}



$(document).ready(function() {
    bindEventsOnFilter();
    initializeSlider();

    // Bind the form submit event to trigger API call
    $('form').on('submit', function(event) {
        event.preventDefault();
        hitApi();
    });
});

</script>
